<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <title>Document</title>
    <style>
        body{
            background: #02061f;
        }
        .wrap{
            background: #3D566E;
            padding: 3rem 0 3em 21rem ;
            margin: 150px auto;
        }
        input[type="text"],input[type="password"]{
            width: 50%;
        }

    </style>
</head>
<body>
<div class="container">
<div class="wrap">

<h1>Inscription</h1>
{{form_start(form)}}

<div class="form-group">
    {{form_widget(form.username, {'label':'Nom d\utilisateur','attr':{'placeholder': 'votre nom...','class':'form-control'}})}}
</div>
<div class="form-group">
    {{form_widget(form.email,{'label':'Adresse mail','attr':{'placeholder':'votre Adresse mail...','class':'form-control'}})}}
</div>
<div class="form-group">
    {{form_widget(form.password,{'label':'mot de passe','attr':{'placeholder':'votre mot de passe...','class':'form-control'}})}}
</div>
<div class="form-group">
    {{form_widget(form.confirm_password,{'label':'confirmation mot de passe','attr':{'placeholder':'repeter votre mot de passe','class':'form-control'}})}}
</div>

<button type="submit" class="btn btn-primary">Inscription</button>
{{form_end(form)}}
</div>
</div>

</body>
</html>

